<ion-header>
  <ion-toolbar>
    <ion-row class="header">
      <ion-col size="9">
        Chapter {{chapter3.chapterNumber}} | {{chapter3.chapterName}}
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        {{chapter3.pageNumber}}
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <div class="ion-padding ion-text-center">
    <div class="titleChapter">Chapter {{chapter3.chapterNumber}}</div>
    <div class="titleName">{{chapter3.chapterName}}</div>
    <br>
    <img src="https://picsum.photos/400/200">
  </div>

  <div class="content ion-text-justify">
    <p>Nulla facilisi. In hac habitasse platea dictumst. Nam ut augue dui. In pretium lectus et libero condimentum
      tincidunt. Sed sed diam sit amet ante varius pellentesque. Nam ut augue dui. In pretium lectus et libero
      condimentum tincidunt. Phasellus malesuada tortor sed sollicitudin consequat. Suspendisse mattis in metus sed
      consectetur. Aliquam condimentum pharetra orci, vitae lobortis mauris hendrerit ullamcorper.Morbi metus risus,
      dictum et eros non, elementum gravida arcu.</p>

    <p>Sed sed diam sit amet ante varius pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
      nec mauris a tortor ullamcorper rutrum. Aliquam pellentesque augue leo, eu bibendum elit blandit non. Nullam a
      nunc neque. Donec et mauris commodo nulla dictum ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Maecenas nec mauris a tortor ullamcorper rutrum.</p>
  </div>
  <br>
  <br>

  <ion-footer class="footer">
    <ion-toolbar>
      <ion-row>
        <ion-col size="2">
          <ion-button color="success" size="small" expand="block" [routerDirection]="'root'"
            [routerLink]="['/chapter2']">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-button color="primary" size="small" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">
            Table
            of Contents</ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button color="success" size="small" expand="block" [routerDirection]="'root'"
            [routerLink]="['/chapter3']">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>